*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
}

.switcher-container {
    background-color: rgba(185, 185, 185, 0.3);
    padding: clamp(50px, 11vw, 150px) clamp(20px, 11vw, 150px);
    
    
    border-radius: 15px;
    box-shadow: 0px 0px 20px 15px #00000053;
    margin-left: 15px;
    margin-right: 15px;
}

.button-container {
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

.lightSwitch {
    padding: 25px 35px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #4a3b3b;
    font-size: 24px;
    color: #ede5e5;
}

.lightSwitch:hover {
    background-color: #786666;
    cursor: pointer;
}

.lightSwitch:active {
    border: 2px solid rgba(185, 185, 185, 0.9);
}

.dateOutput {
    font-size: 26px;
    visibility: hidden;
}

span {
    white-space: nowrap;
}