@font-face {
    font-family: "Trajanus Roman";
    src: url('/fonts/TrajanusRoman-6aEq.ttf') format('ttf');
}

@font-face {
    font-family: "mont";
    src: url('/fonts/Mont-Regular.woff') format('woff');
}

@font-face {
    font-family: "namu";
    src: url('/fonts/NAMU-1990.ttf');
}